.mainpage_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #85aa9f;
}

.logo_wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 1s ease, transform 1s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.logo_svg {
  transition: transform 0.3s ease;
}

/* .logo_svg:hover {
  transform: scale(1.2);
} */

.logo_text {
  font-family: MacPawFixelDisplay-SemiBold, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 145%;

  padding: 4px 16px 4px 16px;
  color: white;

  transition: transform 0.3s ease;
}

.logo_text:hover {
  transform: scale(1.1);
}
