.header {
  padding: 16px;
}

.logo_wrapper {
  display: flex;
}

.logo_svg {
  width: 36px;
  height: 36px;
}

.logo_text {
  padding: 6px 11px 6px 16px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: var(--black);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .logo_svg {
    width: 40px;
    height: 40px;
  }

  .logo_text {
    font-size: 22px;
    line-height: 145%;
    padding: 8px 14px 8px 20px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 24px;
  }
  .logo_text {
    font-size: 22px;
    line-height: 145%;
  }
}
