@font-face {
  font-family: "MacPaw Fixel";
  src: url("./assets/fonts/MacPawFixelDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel";
  src: url("./assets/fonts/MacPawFixelDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel";
  src: url("./assets/fonts/MacPawFixelDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "MacPaw Fixel";
  src: url("./assets/fonts/MacPawFixelDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./assets/fonts/SFProDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "MacPaw Fixel", "SF Pro Display", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 1rem;
}

/* Mobile: від 320px — гумова */
main {
  width: 100%;
  max-width: 100%;
}
/* Загальний логотип за замовчуванням (для моб) */
.logo {
  width: 36px;
  height: 36px;
  background-image: url("../public/logo-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Від 375px — адаптивна */
@media (min-width: 375px) {
  body {
    padding: 0 1.5rem;
    font-size: 1rem;
  }
}

/* Tablet: від 768px */
@media (min-width: 768px) {
  body {
    max-width: 720px;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  main {
    max-width: 700px;
  }

  .logo {
    background-image: url("../public/logo-desktop.svg");
    width: 40px;
    height: 40px;
  }
}

/* Desktop: від 1440px */
@media (min-width: 1440px) {
  body {
    max-width: 1200px;
    font-size: 1.2rem;
  }
  main {
    max-width: 1100px;
  }
}

/* Кольорова схема (можеш лишити як є) */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
